@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-family: "Press Start 2P", monospace, cursive;
}
%pixel-border {
  border-top: 6px solid #000;
  border-bottom: 6px solid #000;
  &:before,
  &:after {
    content: "";
    top: 0;
    width: 6px;
    height: 100%;
    position: absolute;
    background: #000;
  }
  &:before {
    left: -6px;
  }
  &:after {
    right: -6px;
  }
}

#game-window {
  @extend %pixel-border;
  position: relative;
  padding: 6px;
  height: 600px;
  width: 800px;
}
em {
  color: cornflowerblue;
}
.instructions {
  @extend %pixel-border;
  width: 850px;
  margin: 20px;
  padding: 6px;
}
